.container {
  min-width: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.selectedListItem,
.assetListItem {
  padding: 15px;
  border: 2px solid black;
  margin: 5px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
}

.selectedListItem:hover,
.assetListItem:hover {
  opacity: 0.5;
  cursor: pointer;
}

.selectedListItem {
  background: #dddddd;
}
